<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frank.demo.dao.UserDao">
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into userinfo (username, password, photo)
        values (#{user.username}, #{user.password}, #{user.photo})
    </insert>
    <update id="updateById">
        update userinfo
        set username=#{username}
        where id = #{userid}
    </update>
    <delete id="deleteByIdInt">
        delete
        from userinfo
        where id = #{userid}
    </delete>
    <select id="getAll" resultType="com.frank.demo.domain.User">
        select *
        from userinfo
    </select>
    <select id="getById" resultType="com.frank.demo.domain.User">
        select *
        from userinfo
        where id = #{id}
    </select>
    <select id="selectBySub" resultType="com.frank.demo.domain.User">
        select *
        from userinfo
        where username like concat('%', #{username}, '%')
        order by id ${sort}
    </select>
    <select id="selectJoin" resultType="com.frank.demo.domain.User">
        select userinfo.id uid, articleinfo.id aid, userinfo.username
        from userinfo
                 inner join articleinfo
        where userinfo.id = articleinfo.uid
    </select>
</mapper>
