<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ademo.mapper.UserMapper">
    <resultMap id="BaseMap" type="com.example.ademo.domain.User">
        <id column="id" property="userId"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="photo" property="photo"></result>
        <result column="createtime" property="createTime"></result>
        <result column="updatetime" property="updateTime"></result>
        <result column="state" property="state"></result>
        <collection property="list"
                    resultMap="com.example.ademo.mapper.ArticleMapper.BaseMap"
                    columnPrefix="a_">
        </collection>
    </resultMap>
    <select id="mySelectById" resultType="com.example.ademo.domain.User" resultMap="BaseMap">
        select *
        from userinfo
        where id = #{id}
    </select>
    <select id="myList" resultType="com.example.ademo.domain.User" resultMap="BaseMap">
        select *
        from userinfo
    </select>
    <select id="verify" resultType="com.example.ademo.domain.User" resultMap="BaseMap">
        select *
        from userinfo
        where username = #{username}
          and password = #{password}
    </select>
    <select id="mySelectByIdArticles" resultType="com.example.ademo.domain.User" resultMap="BaseMap">
        select u.*
             , a.id         a_id
             , a.title      a_title
             , a.createtime a_createtime
             , a.updatetime a_updatetime
             , a.uid        a_uid
             , a.rcount     a_rcount
             , a.state      a_state
        from userinfo u
                 left join articleinfo a on u.id = a.uid
        where u.id = #{id}
    </select>
    <select id="mySelectByParams" resultType="com.example.ademo.domain.User" resultMap="BaseMap">
        select *
        from userinfo
        <trim prefix="where" prefixOverrides="" suffixOverrides="and">
            <if test="username !=null">
                username like concat('%', #{username}, '%') and
            </if>
            <if test="createTime != null">
                and createtime <![CDATA[ >= ]]>  #{createTime}
            </if>
            <if test="updateTime != null">
                and updatetime <![CDATA[ <= ]]> #{updateTime}
            </if>
        </trim>
    </select>
</mapper>
