<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frank.demo.mapper.UserMapper">
    <resultMap id="BaseMap" type="com.frank.demo.domain.User">
        <id column="id" property="id"></id>
        <result column="username" property="name"></result>
        <result column="password" property="password"></result>
        <result column="photo" property="photo"></result>
        <result column="createTime" property="createTime"></result>
        <result column="updateTime" property="updateTime"></result>
        <result column="state" property="state"></result>
        <collection property="articleList"
                    resultMap="com.frank.demo.mapper.ArticleMapper.BaseMap"
                    columnPrefix="a_">
        </collection>
    </resultMap>
    <select id="getUserById" resultMap="BaseMap">
        select u.*, a.id a_id, a.title a_title
        from userinfo u
                 left join articleinfo a on u.id = a.uid
        where u.id = #{id}
    </select>
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into userinfo (username, password, photo)
        values (#{user.username}, #{user.password}, #{user.photo})
    </insert>
    <update id="updateById">
        update userinfo
        set username=#{username}
        where id = #{userid}
    </update>
    <update id="testSet" useGeneratedKeys="true" keyProperty="id">
        update userinfo
        <set>
            <if test="name!=null">
                username = #{name},
            </if>
            <if test="password!=null">
                password = #{password},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="testWhere" resultType="com.frank.demo.domain.User" resultMap="BaseMap">
        select * from userinfo
        <where>
            <if test="id!=null">
                and id>#{id}
            </if>
            <if test="name!=null">
                and username like concat('%',#{name},'%')
            </if>
        </where>
    </select>
    <delete id="deleteByIdInt">
        delete
        from userinfo
        where id = #{userid}
    </delete>
    <select id="getAll" resultType="com.frank.demo.domain.User" resultMap="BaseMap">
        select *
        from userinfo
    </select>
    <select id="getById1" resultType="com.frank.demo.domain.User" resultMap="BaseMap">
        select *
        from userinfo
        where id = #{id}
    </select>
    <select id="selectBySub" resultType="com.frank.demo.domain.User">
        select *
        from userinfo
        where username like concat('%', #{username}, '%')
        order by id ${sort}
    </select>
    <select id="selectJoin" resultType="com.frank.demo.domain.User">
        select userinfo.id uid, articleinfo.id aid, userinfo.username
        from userinfo
                 inner join articleinfo
        where userinfo.id = articleinfo.uid
    </select>
    <select id="getTest" resultType="com.frank.demo.domain.User" resultMap="BaseMap">
        select *
        from userinfo
        where id>= #{id}
        <if test="name != null">
            and username like concat('%', #{name}, '%')
        </if>
    </select>
    <select id="testTrim" resultType="com.frank.demo.domain.User" resultMap="BaseMap">
        select *
        from userinfo
        <trim prefix="where" suffixOverrides="and">
            <if test="name!=null">
                username like concat('%', #{name}, '%') and
            </if>
            <if test="password!=null">
                password like concat('%', #{password}, '%') and
            </if>
        </trim>
    </select>
</mapper>
