<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frank.springboot1.mapper.UserMapper">
    <resultMap id="BaseMap" type="com.frank.springboot1.domain.User">
        <id column="id" property="userId"></id>
        <result column="user_name" property="userName"></result>
        <result column="user_password" property="userPassword"></result>
<!--        <result column="photo" property="photo"></result>-->
<!--        <result column="createTime" property="createTime"></result>-->
<!--        <result column="updateTime" property="updateTime"></result>-->
<!--        <result column="state" property="state"></result>-->
<!--        <collection property="articleList"-->
<!--                    resultMap="com.frank.demo.mapper.ArticleMapper.BaseMap"-->
<!--                    columnPrefix="a_">-->
<!--        </collection>-->
    </resultMap>
    <select id="mySelectById" resultType="com.frank.springboot1.domain.User" resultMap="BaseMap">
        select * from userinfo where id = #{id}
    </select>
</mapper>
